(
    spritesheet_width: 256,
    spritesheet_height: 1024,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 256,
            height: 256,
        ),
        (
            x: 0,
            y: 256,
            width: 256,
            height: 256,
        ),
        (
            x: 0,
            y: 512,
            width: 256,
            height: 256,
        ),
        (
            x: 0,
            y: 768,
            width: 256,
            height: 256,
        ),
    ],
)
